.firstTitle h1{
    font-size: 250%;
    color:#B60435;
    font-family: 'Julius Sans One', sans-serif;       
}
.concept{
    font-size: 170%;
    font-family: 'Staatliches', cursive;
    font-style: italic;
    text-align: center;   
}
img {   
    background-size: cover;
    position: absolute;
    z-index:-1;
    opacity: 0.5;
}

.all-Buttons{
    border:none;
    color: white;
    padding: 1% 2.5%;
    font-family:unset;
    border-radius: 5%;
    font-size: 70%;
}
.desing-input-name{
    border-radius: 5%;
    background-color:khaki;
    width: 10%;
    padding: 1.5% 2.5%;
    border-color:#e3cc77; 
}
.named{  
    font-family: initial;
    font-style: italic;
    text-align: center;
}
.desing-Input-Text{
    border-radius: 5%;
    background-color: khaki;
    padding: 2.5% 10%;  
    margin-left: 13%;
    margin-right: 5%;
}
.input-get-text{
    border-radius: 5%;
    background-color:khaki;
    width: 10%;
    padding: 1.5% 2.5%;
    margin-left: 13%;
}
#boton1{
    background-color: #B60435;
}
#encript-Button{   
    background-color:#1fbdad;
    margin-left: 13%;
}
p{
    font-family: 'Staatliches', cursive;
    font-size: 150%;
    color :black;
    font-style: italic;
    margin-left: 13%;
    font-weight: bold;
}
#desencript-Button{
   
    margin-left: 15%;
    background-color:#1fbdad;
}
#clean{
    background-color:fuchsia;   
    margin-left: 5%;
}
#back{
    background-color:#A1B004;
    margin-left: 5%;
}
 h4{
     background-color: #1fbdad;
     border-radius: 5%;
     padding: 7% 5%;
     font-style: italic;
     font-size:100%; 
 }
 .contenido{
    display: flex;
    flex-direction: row;
 }
