.bd{
    background-image: url("file:///C:/Users/Liz/Downloads/fondo9.webp"); 
    background-size: cover;
  

}


.centrado{
    margin:30px auto;
	display:block;
}

#concept{
    font-size: 30px;
    font-family: initial;
    font-style: italic;
    text-align: center;
    
}

#boton1{
   
     background-color:#1fbdad;
    border:none;
    color: white;
    padding: 15px 15px;
    font-size: 20px;
    font-family:unset;
    margin-left: 20px;
    border-radius: 5px;
}

#user{
    border-radius: 15px;
    background-color:khaki;
    width: 150px;
    padding: 20px;
    border-color:#e3cc77; 
}

.named{
  
    font-family: initial;
    font-style: italic;
    text-align: center;
}


#firstText{
    border-radius: 10px;
    background-color: khaki;
    width: 200px;
    padding: 100px;  
    margin-left: 180px;
    margin-right: 50px;

}

#getASCCI{
    border-radius: 15px;
    background-color:khaki;
    width: 150px;
    padding: 10px;
    margin-left: 180px;

}
#encriptButton{
    background-color:#1fbdad;
    border:none;
    color: white;
    padding: 15px 15px;
    font-size: 20px;
    font-family:unset;
    margin-left: 180px;
    border-radius: 5px;

}
p{
    font-style: initial;
    font-size: 25px;
    color :#A1B004;
    font-style: italic;
    margin-left: 190px;
    
    
}

#desencriptButton{
    background-color:#1fbdad;
    border:none;
    color: white;
    padding: 15px 15px;
    font-size: 20px;
    font-family:unset;
    margin-left: 20px;
    border-radius: 5px;
}
#clean{
    background-color:#0470B6;
    border:none;
    color: white;
    padding: 15px 15px;
    font-size: 20px;
    font-family:unset;
    margin-left: 400px;
    border-radius: 5px;

}
#back{
    background-color:coral;
    border:none;
    color: white;
    padding: 15px 15px;
    font-size: 20px;
    font-family:unset;
    margin-left: 20px;
    border-radius: 5px;

}
 h4{
     background-color: #1fbdad;
     border-radius: 10px;
     padding: 100px;
     width: 200px;
 

 }
 #contenido{
    display: flex;
    flex-direction: row;
    

 }

 